<style>
header {
    background-color:#43bfc7
    text-align:center;
    padding:10px;	 
}
nav {
    line-height:30px;
    background-color:white;
    height:450px;
    width:200px;
    float:left;
    padding:5px;	      
}

nav2 {
    line-height:40px;
    background-color:#43bfc7;
    height:600px;
    width:200px;
    float:right;
    padding:5px;	      
}
section {
    width:350px;
    float:left;
    padding:10px;	 	 
}
footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;	 	 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #43bfc7;
}
ul2 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 300px;
    background-color: #43bfc7;
}

li {
    float: left;
}

li a {
    display: block;
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #342D7E;
   color:white
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #342d7e;
    color: white;
    padding: 15px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #1569c7;
}

div {
    border-radius: 5px;
    background-color: white;
    padding: 40px;
}


li2 a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li2 a:hover {
    background-color: #342d7e;
    color: white;
}

div.img {
    border: 1px solid #FFFFFF;
}

div.img:hover {
    border: 1px solid #FFFFFF;
}

div.img img {
    width: 190px;
    height: 250px;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 21%;
}

@media only screen and (max-width: 400px){
    .responsive {
        width: 100px;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100px
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


ul3 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #43bfc7;
}

li3 a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li3 a:hover {
    background-color: #342d7e;
    color: white;
}

input[type=text] {
     clear:left
   width: 200px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}

footer {
    padding: 1em;
    color:#342d7e;
    background-color:#43bfc7;
    clear: left;
    text-align: center;
	}
	
	
	.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #33b5e5;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.menu li:hover {
    background-color: #0099cc;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


</style>